{% extends "base.html" %}
{% block container %}
<main class="container mt-3">
    <div class="row mt-5">
        <div class="col-10 col-md-6 offset-1 offset-md-3 mb-3">
            <form method="POST" action="/booking_done/{{day}}/{{time}}/" class="card mb-3">
                <div class="card-body text-center pt-5">
                    <img src={{teachers[id]["picture"]}} class="mb-3" width="95" alt="">
                    <h2 class="h5 card-title mt-2 mb-2">{{teachers[id]["name"]}}</h2>
                    <p class="my-1">Запись на пробный урок</p>
                    <p class="my-1">{{day}}, {{time}}</p>
                </div>
                <hr/>
                <div class="card-body mx-3">
                    {{form.name.label(class_="control-label")}}
                    {{form.name(class="form-control")}}
                    {{form.phone.label(class_="control-label")}}
                    {{form.phone(class="form-control")}}
                    {{form.submit(class="btn btn-primary mt-4 mb-2")}}
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}