{% extends "base.html" %}
{% block container %}
<main class="container mt-3">
    {% if goal == "relocate" %}
        <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4"><strong>🚜<br/>Преподаватели <br> для переезда</strong></h1>
    {% elif goal == "travel" %}
        <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4"><strong>⛱<br/>Преподаватели <br> для путешествий</strong></h1>
    {% elif goal == "work" %}
        <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4"><strong>🏢<br/>Преподаватели <br> для работы</strong></h1>
    {% else %}
        <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4"><strong>🏫<br/>Преподаватели <br> для школы</strong></h1>
    {% endif %}

    {% for i in range(0, 12) %}
    {% set sorted = teachers|sort(attribute="rating", reverse=True) %}
        {% for j in sorted[i]["goals"] %}
            {% if goal == j %}
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 m-auto">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3"><img src={{sorted[i]["picture"]}} class="img-fluid" alt=""></div>
                            <div class="col-9">
                                <p class="float-right"><b>Рейтинг:</b>
                                    <font color="red"><u>{{sorted[i]["rating"]}}</u></font> <b>Ставка:</b>
                                    <font color="red"><u>{{sorted[i]["price"]}} / час</u></font></p>
                                <h2 class="h4">{{sorted[i]["name"]}}</h2>
                                <p>{{sorted[i]["about"]|truncate(100)}}</p>
                                <a href="/profile/{{sorted[i]['id']}}" class="btn btn-outline-primary btn-sm mr-3 mb-2">Показать
                                    информаци и расписание</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <h2 class="text-center mt-5 mb-3">Не нашли своего репетитора?</h2>
    <p class="text-center mb-4">Расскажите, кто вам нужен и мы подберем его сами</p>
    <div class="text-center pb-5">
        <a href="/request" class="btn btn-primary">Заказать подбор</a>
    </div>
</main>
{% endblock %}