{% extends "base.html" %}
{% block container %}
<main class="container mt-5">
    <div class="col-12 col-sm-10 col-lg-6 offset-lg-3 offset-sm-1">
        <form method="POST" action="/request_done/" class="card mb-5">
            <div class="card-body text-center pt-5">
                <h1 class="h3 card-title mt-4 mb-2">Подбор преподавателя</h1>
                <p class="px-5">Напишите, что вам нужно и мы подберем отличных ребят</p>
            </div>
            <hr>
            <div class="card-body mx-3">
                <div class="row">
                    <div class="col">
                        <p>{{form.goal.label(class_="control-label")}}</p>
                        {{form.goal}}
                    </div>
                    <div class="col">
                        <p>{{form.time.label(class_="control-label")}}</p>
                        {{form.time}}
                    </div>
                    </div>
                </div>
            <hr>
            <div class="card-body mx-3">
                {{form.name.label(class_="control-label")}}
                {{form.name(class="form-control")}}
                {{form.phone.label(class_="control-label")}}
                {{form.phone(class="form-control")}}
                {{form.submit(class="btn btn-primary mt-4 mb-2")}}
            </div>
        </form>
    </div>
</main>
{% endblock %}